@import '../../variables.scss';

.card-empty-state {
    margin: $spacing-lg 0;
}

.product-list-container {
    background: $color-card;
    border-radius: $border-radius-md;
    margin-bottom: 64px;
}

@media (max-width: 768px) {
    .card-empty-state {
        margin: $spacing-md 0;
    }
}