@import '../../variables.scss';

.card-product-detail {

    .picture {
        padding: $spacing-lg 0;
        border-radius: $border-radius-sm;
    }
    
    .text-container {
        margin-top: $spacing-lg;
        margin-right: $spacing-lg;

        .condition {
            font-size: $font-size-md;
            color: $color-gray-low;
        }

        .title {
            font-size: $font-size-xl;
            margin-top: $spacing-md;
            margin-bottom: $spacing-lg;
            font-weight: 700;
            line-height: 1.25;
        }

        .price {
            margin: $spacing-lg 0;
            font-size: $font-size-xxl;
            white-space: nowrap;
        }
    }

    .description-container {
        margin: $spacing-lg;

        .description-label {
            font-size: 28px;
        }

        .description {
            margin-top: $spacing-lg;
            font-size: 16px;
            color: $color-gray-low;
        }
    }

}

@media (max-width: 768px) {
    .card-product-detail {
        .picture {
            padding: 0;
        }
        .text-container {
            margin: 0 $spacing-md;
            .condition, .title, .price, .button  {
                margin: 0;
            }
            .condition {
                font-size: $font-size-sm;
                margin-top: $spacing-md;
            }
            .title {
                font-size: $font-size-lg;
                margin-bottom: $spacing-md;
            }
            .price {
                font-size: $font-size-xl;
                margin-bottom: $spacing-md;
            }
        }
        .description-container {
            margin: $spacing-lg $spacing-md;
            .description-label {
                font-size: 20px;
            }
            .description {
                font-size: 14px;
                margin-top: $spacing-md;
            }
        }
    }
}