@import '../../variables.scss';

.card-empty-state {
    background: $color-card;
    border-radius: $border-radius-md;
    padding: $spacing-lg;
    .title {
        font-size: $font-size-xl;
        font-weight: 700;
        margin-bottom: $spacing-md;
    }
}