@import '../../variables.scss';

.card-product-list {
    
    .picture {
        min-width: 180px;
        min-height: 180px;
        max-width: 180px;
        max-height: 180px;
        margin: $spacing-md;
        border-radius: $border-radius-sm;
    }

    .text-container {
        margin-top: $spacing-md;
        .price {
            font-size: $font-size-xl;
            margin-bottom: $spacing-lg;
        }
        .icon-shipping {
            width: 18px;
            height: 18px;
        }
        .title {
            font-size: $font-size-lg;
        }
        .condition {
            margin-top: $spacing-sm;
            color: $color-gray-low;
        }
    }

    .place-container {
        margin-top: $spacing-lg;
        .place {
            color: $color-gray-low;
            font-size: $font-size-sm;
        }
    }
}

@media (max-width: 768px) {
    .card-product-list {
        .picture {
            min-width: 140px;
            min-height: 140px;
            max-width: 140px;
            max-height: 140px;
        }
        .text-container {
            margin-top: 0;
            .price {
                font-size: $font-size-lg;
                margin-bottom: $spacing-sm;
            }
            .icon-shipping {
                width: 16px;
                height: 16px;
            }
            .title {
                font-size: $font-size-md;
            }
        }
    }
}