// Colors
$color-primary: #FFE600;
$color-secondary: #3483FA;
$color-black: #333333;
$color-white: #EEEEEE;
$color-gray-high: #666666;
$color-gray-low: #999999;
$color-card: #FEFEFE;

// Typography
$font-family: 'proxima-nova', sans-serif;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Border
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px
